/* Ρυθμίσεις για το body */
/* Στυλ για την επικεφαλίδα */
.page-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Στυλ για τα γραφήματα */
.chart-container {
    position: relative;
    height: 400px;
    width: 45%;
    margin: 20px;
    background-color: #f5f5f5; /* Γκρι φόντο για κάθε γράφημα */
    border-radius: 8px; /* Στρογγυλεμένες γωνίες */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Σκιά γύρω από το γράφημα */
    padding: 5px;
    display: inline-block;
}

/* Στυλ για τα headers των γραφημάτων */
.chart-container h3 {
    text-align: center;
    font-size: 24px;
    color: #444;
}

/* Στυλ για το σώμα της σελίδας */
body {
    background-color: #e5e5e5; /* Γενικό υπόβαθρο */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Media Queries για κινητά και μικρές οθόνες */
@media (max-width: 768px) {
    .chart-container {
        width: 90%; /* Κάνει τα γραφήματα μεγαλύτερα σε μικρές οθόνες */
        margin: 10px auto;
    }

    .page-title {
        font-size: 28px;
    }
}


