
.container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    justify-content: space-evenly;
    background-image: url(/webapp/images/cloud.webp);
}

.titlee{
    color: white;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    background: rgb(43, 110, 226);
    justify-self: center;
    width: 95%;
}
.dashboardItem{
    background-color: rgb(59, 118, 186);
    width: 20vw;
    height: 15vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}