body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  justify-items: center;
}
.img-sights{
  margin: 5px;
  border: 1px solid black;
  width: 390px;
  justify-items: center;
  background-color:#fff;

}

.container .img-sights h1{
  text-align: center;
}

.container .img-sights p{
    color: black;
    text-align: left;
    margin-left: 4px;
    
}